<table>
	<tbody>
		{{#each map.rows as |row|}}
		<tr>
			{{#each row.cells as |cell|}}
				<td>
					<button class="square unknown" {{action 'check'}}>
						{{cell.text}}
					</button>
				</td>
			{{/each}}
		</tr>
		{{/each}}
	</tbody>
</table>
